<div style="padding-top: 50px;">
    <%= render 'layouts/navigationWithoutLogin' %>
</div>

<div style="background-image: url('/assets/header.jpg'">
    
<div style="padding-top: 50px;"></div>

<% @companies.each do |company| %>
    
<div class="container well">
	<div class="row">
		<div class="row"> 
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <%= image_tag(company.picture.url,size: "250x250", class: "gravatar img-responsive img-box img-thumbnail") if company.picture? %>
                        </a>
                    </div> 
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <%= gravatar_for company.user, size: 100 %>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <%= link_to company.companyname,company_path(company) %>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-calendar"></i> Arriving on <%= company.date %> 
                                        <br>
                                        <span class="explore"><i class="glyphicon glyphicon-th"></i> <a href="#">Package: <%= company.package %> lpa </a></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <p style="word-wrap: break-word; color: #55423E" class="well"><%= company.description %></p>
                        <div align="right" style="margin-right: 5px"><em>Brought to you by <strong><%= link_to company.user.username %></strong></em></div>
                        
                    </div> 
        </div>
        
    </div>
</div>

<% end %>

<div style="padding-top: 50px;"></div>

</div>
        
