<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid" style="background-image: url('/assets/header.jpg'">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
                  
                <%= link_to "PlaceMentor",home_path, class: "navbar-brand page-scroll" %>
                
                
            </div>
          
            <% if logged_in? %>
                <% if current_user.admin? %>
                <div  class="nav_item">
                    <%= link_to "[ New Company Visiting? ]",new_company_path,class: "navbar-brand pull-left verticalLine hovering", :style=> "margin-left: 10px; color: #F05F40;font-weight:bold" %>
                </div>
                <% end %>
                
                <ul class="nav_item">
                    <li class="dropdown">
                      <%= link_to '#',class: "navbar-brand pull-right dropdown-toggle verticalLine hovering", "data-toggle" => "dropdown", :style=>"margin-right: 1px; color: #F05F40;font-weight:bold" do %>
                        <%= current_user.username %> <b class="caret"></b>
                      <% end %>
                        <ul class='dropdown-menu pull-right'>
                            <li><%= link_to "View Profile",user_path(current_user) %></li>
                            <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Logout",logout_path %></li>
                        </ul>
                    </li>
                </ul>
                
                
            <% end %>
            
            
            
            
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>